{% extends "base.html" %}

{% block body %}

<nu-root>
<nu-flex flow="column" content="center">
    <nu-flex content="center" height="40">

    <nu-flex flow="column" height="40" width="21">
        <nu-card height="36" width="21" place="flex-start" fill="grey" color="white" overflow="scroll">
        ❓ QUESTION:
            <p> question text </p>
        ❗️ EXPLANATION:
            <p> explanation text </p>
        </nu-card>

        <nu-flex height="4" width="21">
        <nu-btn height="4" width="7" place="center" fill="#ffd43b" color="dark grey">
            D/Q </nu-btn>

        <nu-btn height="4" width="7" place="center" fill="#ffd43b" color="dark grey">
            N/A </nu-btn>

        <nu-btn height="4" width="7" place="center" fill="#ffd43b" color="dark grey">
            End </nu-btn>
        </nu-flex>
    </nu-flex>

    <nu-flex flow="column" height="40" width="20">
        <nu-card height="20" width="20" place="flex-start" fill="grey" overflow="scroll">
            <p> Answer A </p>
            <p> answer text </p>
        </nu-card>

        <nu-card height="20" width="20" place="flex-start" fill="grey" overflow="scroll">
            <p> Answer S </p>
            <p> answer text </p>
        </nu-card>
    </nu-flex>

    <nu-flex flow="column" height="40" width="20">
        <nu-card height="20" width="20" place="flex-start" fill="grey" overflow="scroll">
            <p> Answer D </p>
            <p> answer text </p>
        </nu-card>

        <nu-card height="20" width="20" place="flex-start" fill="grey" overflow="scroll">
            <p> Answer F </p>
            <p> answer text </p>
        </nu-card>
    </nu-flex>
</nu-flex>
</nu-flex>
</nu-root>

{% endblock %}
