<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>simpledrill</title>
    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/numl/1.0.0-beta.10/index.js"></script>
</head>

<body>

<nu-flex flow="column" content="center" items="center" height="40">
    <nu-card content="center" height="12" width="27" fill="#306998" color="white">
        <p> Test process or result explanation </p>
    </nu-card>

    <br></br>

    <nu-btn height="5" width="27" size="lg" fill="#ffd43b" color="dark grey">
        Take the test </nu-btn>
</nu-flex>

</body>
</html>
