{% extends "base.html" %}

{% block body %}

<nu-flex flow="column" content="center">
    <nu-flex content="center" height="30">
        <nu-flex flow="column" content="center" width="60">

            <nu-flex flow="row-reverse" items="center" height="6">
                <nu-btn height="3" width="10" size="sm" fill="grey" color="white">
                    Register  </nu-btn>
            </nu-flex>

            <nu-flex flow="row-reverse" items="center" height="6">
                <nu-btn height="3" width="10" size="sm" fill="grey" color="white">
                    Login  </nu-btn>
            </nu-flex>

            <nu-flex content="space-around" items="center" height="18">
                <nu-btn height="7" width="20" size="lg" fill="#306998" color="white">
                    Drill  </nu-btn>

                <nu-btn height="7" width="20" size="lg" fill="#ffd43b" color="dark grey">
                    Take the test </nu-btn>
            </nu-flex>

        </nu-flex>
    </nu-flex>
</nu-flex>

{% endblock %}
