<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>simpledrill</title>
    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/numl/1.0.0-beta.10/index.js"></script>
</head>

<body>
<nu-root>
<nu-flex flow="column" content="center">
    <nu-flex content="center">
        <nu-flex flow="column" content="center" width="60">    

        <nu-flex flow="row-reverse" items="center" height="6">
            <nu-btn height="3" width="10" size="sm" fill="grey" color="white">
                Home page </nu-btn>
        </nu-flex>

        <nu-flex display="grid" items="center" height="13">
            <nu-card height="6" width="30" display="grid" items="center" size="xxl" color="white" fill="#306998">
                Select a topic to drill</nu-card>
        </nu-flex>

        <nu-flex content="space-around" items="center" height="10">
            <nu-btn height="6" width="8" fill="#ffd43b" color="dark_grey">
                    git </nu-btn>

            <nu-btn height="6" width="8" fill="#ffd43b" color="dark_grey">
                    python </nu-btn>

            <nu-btn height="6" width="8" fill="#ffd43b" color="dark grey">
                    general </nu-btn>

            <nu-btn height="6" width="8" fill="#ffd43b" color="dark grey">
                    http </nu-btn>
        </nu-flex>

        </nu-flex>
    </nu-flex>
</nu-flex>
</nu-root>
</body>
</html>
