{% extends "base.html" %}

{% block body %}

<nu-flex flow="column" content="center">
    <nu-flex content="center">
        <nu-flex flow="column" content="center" width="60">    

            <nu-flex flow="row-reverse" items="center" height="6">
                <nu-btn height="3" width="10" size="sm" fill="grey" color="white">
                    <a href="/"> </a> Home page </nu-btn>
            </nu-flex>

            <nu-flex display="grid" items="center" height="13">
                <nu-card height="6" width="30" display="grid" items="center"
                    size="xxl" color="white" fill="#306998">
                    Select a topic to drill</nu-card>
            </nu-flex>

            <nu-flex content="space-around" items="center" height="10">
                <nu-btn height="6" width="8" fill="#ffd43b" color="dark_grey">
                    <a href="/select_topic?topic=git"></a>git</nu-btn>

                <nu-btn height="6" width="8" fill="#ffd43b" color="dark_grey">
                    <a href="/select_topic?topic=python"></a>python</nu-btn>
                
                <nu-btn height="6" width="8" fill="#ffd43b" color="dark_grey">
                    <a href="/select_topic?topic=general"></a>general</nu-btn>

                <nu-btn height="6" width="8" fill="#ffd43b" color="dark_grey">
                    <a href="/select_topic?topic=http"></a>http</nu-btn>
            </nu-flex>

        </nu-flex>
    </nu-flex>
</nu-flex>

{% endblock %}
