{% extends "base.html" %}

{% block body %}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const form_submit_answer =
            document.getElementById("submit_my_test_answer");
        form_submit_answer.addEventListener("input", (e) => {
            const args = Object.entries(e.detail).map(([key, val]) => {
                return `${encodeURIComponent(key)}=${encodeURIComponent(val)}`;
            }).join("&");
            window.location.href = `?${args}`;
        });
    });
    window.addEventListener("keyup", e => {
    switch(e.keyCode) {
        case 13: return document.getElementById("btn_submit").click();
        } // enter
        });
</script>

<nu-root>
    <nu-flex flow="column" content="center" items="center" height="40">
        <nu-form id="submit_my_test_answer">
            <nu-card content="center" height="14" width="28" fill="#306998" color="white" overflow="auto">

                {% if start_score %}
                    {% if final_score %}
                        Congratulations! You have completed all the tests.
                        <br><br>
                        Your start test score: {{ start_score }}
                        <br><br>
                        Your final test score: {{ final_score }}
                        <br><br>
                        Go and practice more!
                        </nu-card>
                    {% else %}
                    Your start test score: {{ start_score }}
                    <br><br>
                    Go and practice!
                    </nu-card>
                    {% endif %}
                {% else %}

                    ❓ QUESTION {{ countdown }}:
                    {% for item in test_question %}
                        <p>{{ item }}</p>
                    {% endfor %}
                    </nu-card>

                    <nu-flex flow="row wrap" gap>
                        <nu-input id="test_answer" height="5" width="28"></nu-input>
                    </nu-flex>
                {% endif %}

                {% if start_score %}
                    <nu-btn height="5" width="28" size="lg" fill="#ffd43b" color="dark grey">
                        <a id="btn_submit" action="submit" href="/select_topic"></a>Go and practice!
                    </nu-btn>
            
            {% else %}
            <nu-flex flow="row" content="center" items="center">
                <nu-btn height="5" width="14" size="lg" fill="grey" color="white">
                    <a id="no_answer" href="/test?test_answer=no_answer"> </a>I don't know
                </nu-btn>

                <nu-btn action="submit" height="5" width="14" size="lg" fill="#ffd43b" color="dark grey">
                    Submit answer
                </nu-btn>
            </nu-flex>

            <br><br>

            <nu-btn height="4" width="28" size="lg" fill="grey" color="white">
                <a href="/"></a>Pause
            </nu-btn>
            {% endif %}
            <br>
        </nu-form>
    </nu-flex>
</nu-root>

{% endblock %}
