{% extends "base.html" %}

{% block body %}

<nu-flex flow="column" content="center" items="center" height="40">

    <nu-card content="center" height="12" width="27" fill="#306998" color="white">
    ❓ QUESTION:
        <p> test question </p>
    </nu-card>

    <br></br>

    <nu-flex flow="row wrap" gap>
        <nu-input id="test_answer" height="5" width="27"></nu-input>
    </nu-flex>

    <br></br>

    <nu-btn height="5" width="27" size="lg" fill="#ffd43b" color="dark grey">
        Submit your answer
    </nu-btn>

</nu-flex>

{% endblock %}
