{% extends "base.html" %}

{% block body %}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        btn_submit = document.getElementById("btn_submit_answer");
        btn_submit.addEventListener("click", () => {
            test_answer = document.getElementById("test_answer").value;
            if (!test_answer) return;
            test_answer_safe = encodeURIComponent(test_answer);
            url = `/test?test_answer=${test_answer_safe}`;
            window.location.href = url;
        });
    });
</script>

<nu-root>
    <nu-flex flow="column" content="center" items="center" height="40">
        <nu-form id="submit_my_test_answer">
            <nu-card content="center" height="14" width="28" fill="#306998" color="white" overflow="auto">

                {% if start_score %}
                    {% if final_score %}
                        Congratulations! You have completed all the tests.
                        <br><br>
                        Your start test score: {{ start_score }}
                        <br><br>
                        Your final test score: {{ final_score }}
                        <br><br>
                        Go and practice more!
                        </nu-card>
                    {% else %}
                    Your start test score: {{ start_score }}
                    <br><br>
                    Go and practice!
                    </nu-card>
                    {% endif %}
                {% else %}

                    ❓ QUESTION:
                    {% for item in test_question %}
                        <p>{{ item }}</p>
                    {% endfor %}
                    </nu-card>

                    <nu-flex flow="row wrap" gap>
                        <nu-input id="test_answer" height="5" width="28"></nu-input>
                    </nu-flex>
                {% endif %}

                {% if start_score %}
                    <nu-btn height="5" width="28" size="lg" fill="#ffd43b" color="dark grey">
                        <a href="/select_topic"></a>Go and practice!
                    </nu-btn>
            
            {% else %}
            <nu-flex flow="row" content="center" items="center">
                <nu-btn height="5" width="14" size="lg" fill="grey" color="white">
                    <a id="no_answer" href="/test?test_answer=no_answer"> </a>I don't know
                </nu-btn>

                <nu-btn height="5" width="14" size="lg" fill="#ffd43b" color="dark grey">
                    <a id="btn_submit_answer" href="#"> </a>Submit answer
                </nu-btn>
            </nu-flex>

            <br><br>

            <nu-btn height="4" width="28" size="lg" fill="grey" color="white">
                <a href="/"></a>Pause</nu-btn>
            {% endif %}



        </nu-form>
    </nu-flex>
</nu-root>

{% endblock %}
